/* Criação de variáveis globais no css */
:root {
    --primary-color: #0B604B;
    --secundary-color: #0db78c;
    --green-color: #14600b;
    --red-color:#600b0b;
    --red-light-color: #c02d2d;
    --transblack-color: rgba(0,0,0,0.7);
}
