<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Cadastro</title>

    <link type="text/css" rel="stylesheet" href="{%static 'css/bootstrap/bootstrap.min.css' %}"> 
    <link type="text/css"
        rel="stylesheet" href="{%static 'css/login.css' %}" <script type="text/javascript"
        src="{% static 'js/bootstrap.min.js' %}">
    </script>
</head>
<body>

<div class="cadastro-container">
    <h2>Cadastro</h2>
    <form action="/cadastro/" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="/">Possui conta?</a>
</div>

</body>
</html>
