<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Inclusão dos arquivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/variaveis.css' %}">
</head>


<body class="main-bg">

    <!-- Cabeçalho com o título -->
    <header class="heading">
        <h1>ANIMARK</h1>
    </header>

    <!-- Container centralizado -->
    <div class="container">

        <!-- Divisão para a imagem do logo -->
        <div class="logo-img">
            <img src="{% static 'img/logo.svg' %}" alt="Logo" class="logo-svg">
        </div>

        <!-- Formulário de login -->
        <div class="cadastro-form">
            <h2>Login</h2>
            <form action="/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="senha" placeholder="Senha" required><br>
                </div>
                <input type="submit" value="Logar">
            </form>
            <a href="{% url 'cadastro' %}" class="custom-link">Fazer Cadastro</a>
        </div>

    </div>

    <!-- Rodapé -->
    <footer id="footer" class="footer white-bg">
        <p>Feito por <a rel="nofollow" target="_blank" href="https://github.com/PHmore">PHmore</a></p>
    </footer>

    <!-- Exibição de mensagens de erro -->
    {% if mensagem %}
    <div class="alert alert-danger" role="alert">
        {{ mensagem }}
    </div>
    {% endif %}

</body>
</html>