<!-- top_anime_list.html -->

{% extends "../base.html" %}

{% block titulo %} Lista animes {% endblock %}

{% block conteudo %}

<h1>Top Animes {{anime_data|length}} </h1>
<ul>
  <!-- Tomar cuidado com tratamento de dicionários ou itens únicos -->
  {% for anime in anime_data %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ anime.images.jpg.image_url }}" alt="Imagem do Anime">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Titulo: {{ anime.title }}</li>
      <li class="list-group-item">MAL ID: {{ anime.mal_id }}</li>
      <li class="list-group-item">Status: {{anime.status}}</li>
      <li class="list-group-item">Número de episodios: {{ anime.episodes }}</li>
    </ul>
    <div class="card-body">

      {% if anime.in_list %}
      <button type="button" class="btn btn-secondary" disabled>Adicionado</button>
      {% else %}
      <form id="anime-form" method="POST" action="{% url 'task_create' %}">
        {% csrf_token %}
        <input type="hidden" name="episodes" value="{{anime.episodes}}">
        <input type="hidden" name="title" value="{{anime.title}}">
        <input type="hidden" name="mal_id" value="{{anime.mal_id}}">
        <input class="btn btn-success" type="submit" value="Adicionar">
      </form>
      {% endif %}

    </div>
  </div>

  <div class="d-none dflex" id="div-titulo{{anime.mal_id}}">
    Este texto oculto será exibido após a função ser chamada
    <button type="submit" class="btn" id="info{{anime.mal_id}}">icone</button>
  </div>
  </li>
  {% endfor %}
</ul>
{{page_obj}}

<div class="pagination">
  {% if page_obj.current_page != 1 %}
  <a href="?page={{ page_obj.current_page|add:" -1" }}">Página Anterior</a>
  {% endif %}

  Página {{ page_obj.current_page }} de {{ page_obj.last_visible_page }}

  {% if page_obj.has_next_page %}
  <a href="?page={{ page_obj.current_page|add:" 1" }}">Próxima Página</a>
  {% endif %}

</div>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}


<script type="text/javascript">
  $("div.info").click(function () {
    console.log("Quero info")
  })

  $("div.titulo").click(function () {
    console.log('Será mostrado a info');
    var data_id = $(this).attr('data-titulo');
    console.log(data_id);
    $("div#div-titulo" + data_id).removeClass('d-none')
    $("button#info" + data_id).on("click", function (e) {
      e.preventDefault();
      $.ajax({
        type: 'GET',
        <!-- Este deve ser o name até pq é feito um reverse -->
        url: '{% url "anime_info" %}',
        data: { 'data_id': data_id },
        dataType: "json",
        success: function (data) {
          console.log("Mostrando informações");
          $("div#div-titulo" + data_id).html(data.title)
        }
      })
    })
  })
</script>





<!-- <ul>
        {% for anime in anime_list.data %}
            <li>{{ anime.titles.0.title }}</li>
            <img src="{{ anime.images.jpg.image_url }}" alt="{{ anime.titles.0.title }}">
        {% endfor %}
    </ul>
</body>
</html>
 -->